$primaryColor: #4df0e0;
$secondaryColor: #48337b;
$neutralColor: #f5f5f5;
$resolutionlg: 1400;
$resolutionmd: 1200;
$resolutionmlg: 1700;
$resolutionslg: 1500;
$resolutionsm: 992;
$resolutionxlg: 2000;
$resolutionxmlg: 1800;
$resolutionxs: 768;
$resolutionxxlg: 5000;
